<section style="margin-top: 50px;" class="h-100 h-custom gradient-custom-2 p-5">
  <div class="container" style="margin-top: 20px">
    <div class="row d-flex justify-content-center align-items-center">
      <h3 style="color:aliceblue">Create your Quiz</h3>
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">


              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Add your quiz</h3>
                  <form (ngSubmit)="onSubmit()">
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" [(ngModel)]="que" class="form-control" id="que" name="que"
                          aria-describedby="emailHelp">
                        <label class="form-label" for="form3Examplea2">Add Question</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <select [(ngModel)]="type" id="type" class="form-select form-control" name="type">
                            <option selected>--</option>
                            <option>Text</option>
                            <option>Options</option>
                            <option>Numeric</option>
                            <option>Multiple Choice</option>
                          </select>
                          <label for="type" class="form-label">Question Type</label>
                        </div>
                      </div>

                      <div class="col-md-7 mb-4 pb-2">
                        <ng-container *ngIf=" type=='Text'; else second">
                          <div class="form-outline form-white">
                            <input type="text" class="form-control" id="ans" name="ans" [(ngModel)]="ans">
                            <label for="answer" class="form-label">Answer</label>
                          </div>
                        </ng-container>
                        <ng-template #second>
                          <ng-container *ngIf=" type=='Options'; else third">

                            <app-add-opt (optAdd)="addopt($event)"></app-add-opt>
                            <span class="mb-4 pb-2">
                              <input type="number" class="form-control" placeholder="Option number" id="ans" name="ans"
                                [(ngModel)]="ansno">
                              <label for="answer" class="form-label">Answer</label>
                            </span>
                          </ng-container>
                        </ng-template>
                        <ng-template #third>
                          <ng-container *ngIf="type==='Numeric';else fourth">
                            <div class="form-outline form-white">
                              <input type="number" class="form-control" id="ans" name="ans" [(ngModel)]="ans">
                              <label for="answer" class="form-label">Answer</label>
                            </div>
                          </ng-container>
                        </ng-template>
                        <ng-template #fourth>
                          <ng-container *ngIf="type==='Multiple Choice';">
                            <div class="form-outline form-white">
                              <input type="text" class="form-control" id="ans" name="ans" [(ngModel)]="ans">
                              <label for="answer" class="form-label">Answer</label>
                            </div>
                          </ng-container>
                        </ng-template>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-light" data-mdb-ripple-color="dark">Add
                      Question</button>
                  </form>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="p-5">
              <p>Total no. of questions</p>
            </div>
          </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container col-lg-6">
  <div class="p-5">
    <!-- <h3 class="fw-normal mb-5" style="color: #4835d4;">{{quiz_name}}</h3> -->
    <div class="row">
      <div class="col-md-6 mb-4 pb-2">

        <div *ngFor="let opt of option_arr">
          <app-option [opt]="opt" (optDel)="deleteOpt($event)"></app-option>
        </div>

      </div>
      <div class="col-md-6 mb-4 pb-2">
      </div>
    </div>
    <div>
      <div *ngIf="this.quiz.length==0; else elseBlock">No questions.</div>
      <ng-template #elseBlock>
        <div *ngFor="let que of quiz; index as i">
          <app-question [option_arr]="option_arr" [que]="que" [i]="i" (queDelete)="deleteQue($event)"></app-question>
          <br>
        </div>
      </ng-template>
    </div>

  </div>
</div>