<div>    
  <nav>
  <h1 class="logo" style="padding-left:10px ">Quizorra</h1>
    <ul>
        <li>Sign in </li>
        <li>Contact us </li>
        <li>Home</li>
    </ul>
  </nav>
</div>
<section class="about">
    <h1 style="text-align: center; padding-top:50px;font-size:80px">About us</h1>
    <div class="para">
        <h2>Quizorra is the leading  quiz provider on the web, mobile devices.</h2>
    </div> 

    <div class="cardline">

    <div class="card" style="width: 18rem;">
        <img src="a.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia velit deserunt unde est, quae in?</p>
          <a href="#" class="btn btn-primary">Know more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="b.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni nihil amet dolor sapiente in.</p>
          <a href="#" class="btn btn-primary">Know more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="c.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse asperiores omnis, saepe ipsam ex odio.</p>
          <a href="#" class="btn btn-primary">Know more</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="p.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quas numquam laborum dolores debitis? Voluptas?
          </p>
          <a href="#" class="btn btn-primary">Know more</a>
        </div>
      </div>

    </div>
</section>