<nav class="navbar" style="background-color: #bae2fc">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo1.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top" />
        Quizzora
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/contact_us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/more-quiz">More Quiz</a>
        </li>
        <li class="nav-item">
          <div *ngIf="auth.isLoggedIn == true ;else elseBlock">
          <a class="btn themebut" data-bs-toggle="modal" routerLink="../signinmodal/">
            Sign In
          </a>
        </div>
        <ng-template #elseBlock>
          <a class="btn themebut" routerLink="../logout/">
          Logout
        </a></ng-template>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
