<div class="row">
    <div class="text-center priority" style="
          height: 150px;
          background-color: #ceeafe;
          padding: 75px;
        ">
      <h2 style="font-weight: 700; font-size: xx-large">About Us</h2>
    </div>
</div>
    <div class="container priority2" style="background-color: rgb(153 169 255); padding-top: 100px; padding-bottom: 100px;">
      <div class="row justify-content-center">
        <div class="col-sm-3">
          <div class="card">
            <img src="assets/images/img2.jpg" class="card-img-top" height="210px" alt="..." />
            <div class="card-body" style="border: 5px 5px 5px 5px; border-style:solid; border-color:rgb(118, 53, 249);">
              <h5 class="card-title">Linear Algebra:</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="assets/images/img3.jpg" class="card-img-top" height="210px" alt="..." />
            <div class="card-body" style="border: 5px 5px 5px 5px; border-style:solid; border-color:rgb(118, 53, 249);">
              <h5 class="card-title">Machine Learning:</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="assets/images/img4.jpg" class="card-img-top" height="210px" alt="..." />
            <div class="card-body" style="border: 5px 5px 5px 5px; border-style:solid; border-color:rgb(118, 53, 249);">
              <h5 class="card-title">C++</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>