<img class="w-100 d-block position-relative" src="assets/images/bg888.jpg" style="height: 700px;">
<div class="position-absolute top-0 top-0" style="margin-right:200px; margin-top:250px;">
    <div class="row" style="
    width: 1500px;
    margin-top: 100px;
    padding-left: 100px;
    margin-bottom: 100px;
    ">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body font">
                    <h5 class="card-title">Create a Quiz</h5>
                    <p class="card-text">
                        With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                        <!-- <a class="btn themebut"  data-bs-target="#SignupModal"
                            href="../signupmodal/">
                            Sign Up
                </a> -->
                        <a class="btn themebut" data-bs-toggle="modal"
                            routerLink="../signupmodal/">
                            Sign Up
                </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body font">
                    <h5 class="card-title">Attempt a Quiz</h5>
                    <p class="card-text">
                        With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <form (submit)= "entercode($event)">
                    <input type="text" class="form-control" id="code" placeholder="Enter Code" />
                    <br/>
                    <button type="submit" class="btn themebut" style="margin-top: 0px">Attempt</button>
                    <!-- <a class="btn themebut" style="margin-top: 0px"
                    routerLink="/attempt">
                    Attempt</a> -->
    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>