<div class="my-3">
    <h4>Question: {{que.que}}</h4>
    <!-- <p>{{que.type}}</p> -->
    <div *ngIf=" que.type=='Options';">
        <div *ngFor="let op of que.option_arr; index as i">
        <p>Options: {{i+1}}. {{op.opt}}</p>
    </div>
    </div>
    <p>Answer: {{que.ans}}</p>

    <!-- <div *ngIf="; else elseBlock">Content to render when condition is true.</div>
<ng-template #elseBlock>Content to render when condition is false.</ng-template> -->
    <button class="btn btn-danger" (click)="onClick(que)">Remove</button>
</div>