.back{
    background-image: linear-gradient(to bottom right, rgb(24, 42, 74), rgb(67, 118, 208));
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 90px;
}

button.change {
    margin-top: 60px;
    background-color: rgb(33, 43, 132);
    color: white;
}

button.change:hover {
    cursor: pointer;
    color:  rgb(33, 43, 132);
    border-color:  rgb(33, 43, 132);
    border-style: solid;
    border-top: 30px 30px 30px 30px;
    font-weight: 600;
}


.themebut{
    background-color: rgb(33, 43, 132);
    color: white;
    border-color:rgb(33, 43, 132);
    border-width: 5px;
    border: 5px;
  }

  .themebut:hover{
    color: rgb(33, 43, 132);
    background-color: #bae2fc;
    border-color:rgb(33, 43, 132);
    border: 2px;
    border-style: solid;
    cursor: pointer;
  }