       

  <div class="container col-4 card text-dark bg-light" style="margin-top: 150px; padding: 80px">
    <img class="card-img-top" src="holder.js/100px180/" alt="Title">
    <div class="card-body">
      <h4 class="card-title justify-content-center">Sign In</h4>
    </div>
    <form (submit)= "loginUser($event)">
      <div>
      <!-- Email input -->
      <div class="form-outline">
        <input type="email" id="loginemail" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
    
      <!-- Password input -->
      <div class="form-outline">
        <input type="password" id="loginpassword" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
    
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>
    
      <!-- Submit button -->
      <!-- <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button> -->
      <button type="submit" id="loginsubmit" class="btn justify-content-center" style="background-color: rgb(33, 43, 132); color: white">
        Sign In
      </button>
    
      <!-- Register buttons -->
      <div class="text-center col-6">
        <p>Not a member? <a href="../signupmodal/">Register</a></p>
      </div>
    </div>
    </form>
      </div>
  
<router-outlet></router-outlet>